<% content_for :page_title do %>
  <%= "Import CSV products" %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to "Back", admin_products_url, { class: "btn-info", icon: 'arrow-left', id: 'admin_new_product' } %>
<% end if can?(:create, Spree::Product) %>

<!-- area to upload CSV -->
<div class='row'>
  <div class='col-sm-6'>
    <%=form_tag '/admin/upload_csv', :multipart => true, id: 'upload_product_csv' do  %>
      <%=label_tag "Upload .csv file to import products" %>
      <%=file_field_tag :csv_file, accept: 'text/csv', class: 'form-control', 'data-validation': "size mime", 'data-validation-max-size': "2M", 'data-validation-allowing': "csv"  %>
      </br>
      <%=submit_tag "Import", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<!-- area to upload CSV -->